/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Light mode (default) */
body {
  background: linear-gradient(90deg, rgb(40 98 169) 6%, rgb(163 126 167) 100%);
  /* background-color: #ffffff; */
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: default;
  text-align: center;
  padding: 20px 0 20px 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  margin-top: 30px;
  width: 90%;
  max-width: 450px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid black;
}

.name {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #555;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: solid 1px #ffffff;
  background-color: #f0f0f000;
  color: black;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.link-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}

.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  /* gap: 15px; */
  margin-top: 5px;
}

.icon-button {
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: none;
  color: black;
}

.icon-button i {
  font-size: 24px;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #666;
}

.icon-button:active {
  transform: scale(0.95);
}

.link-button-text {
  font-size: 14px;
  color: #777;
}

.copyright {
  margin-top: 15px;
  font-size: 12px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
    color: white;
  }

  a {
    color: white;
  }

  .profile-pic {
    border-color: white;
  }

  .description {
    color: #c9d1d9;
  }

  .link-button {
    background-color: #21262d00;
    color: white;
  }

  .link-button:hover {
    background-color: #30363d00;
  }

  .icon-button {
    color: white;
  }

  .footer {
    color: #8b949e;
  }

  .link-button-text {
    color: #8b949e;
  }
}